<template>
<div id="app">
    <navbar placement="top" type="default">
      <a slot="brand" href="/" title="Home" class="navbar-brand">项目工厂</a>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">首页</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">项目</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">视频</a>
      </li>
      <dropdown text="更多">
        <li><a href="link">赚取金币</a></li>
        <li><a href="link">加入班级</a></li>
        <li><a href="link">礼品兑换</a></li>
        <li><a href="link">收藏本站</a></li>
        <li><a href="link">使用帮助</a></li>
        <li><a href="link">联系我们</a></li>
      </dropdown>
      <li slot="right">
        <a href="https://github.com/yuche/vue-strap" target="_blank">注册</a>
      </li>
      <li slot="right">
        <a href="https://github.com/yuche/vue-strap" target="_blank">登录</a>
      </li>
      <li slot="right">
          <a href="https://github.com/yuche/vue-strap" target="_blank">
            <svg height="16px" fill="#777" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
          </a>
      </li>
    </navbar>
  <img class="logo" src="../../assets/logo.png">
  <hello></hello>
  <p>
    Welcome to your Vue.js app!
  </p>
  <button class="btn btn-success btn-lg" @click="showRight = !showRight">
    Click to toggle alert on right
  </button>
  <alert :show.sync="showRight" :duration="3000" type="success" width="400px" placement="top-right" dismissable>
    <span class="icon-ok-circled alert-icon-float-left"></span>
    <strong>Well Done!</strong>
    <p>You successfully read this important alert message.</p>
  </alert>
  <p>
    To get a better understanding of how this boilerplate works, check out
    <a href="http://vuejs-templates.github.io/webpack" target="_blank">its documentation</a>. It is also recommended to go through the docs for
    <a href="http://webpack.github.io/" target="_blank">Webpack</a> and
    <a href="http://vuejs.github.io/vue-loader/" target="_blank">vue-loader</a>. If you have any issues with the setup, please file an issue at this boilerplate's
    <a href="https://github.com/vuejs-templates/webpack" target="_blank">repository</a>.
  </p>
  <p>
    You may also want to checkout
    <a href="https://github.com/vuejs/vue-router/" target="_blank">vue-router</a> for routing and
    <a href="https://github.com/vuejs/vuex/" target="_blank">vuex</a> for state management.
  </p>
  <Foot></Foot>
</div>
</template>

<script>
import Hello from 'components/Hello'
import Foot from 'components/Foot'
import {alert, navbar, dropdown} from 'vue-strap'

export default {
  data () {
    return {
      showRight: false,
      showTop: false
    }
  },
  components: {
    Hello,
    alert,
    navbar,
    dropdown,
    Foot
  }
}
</script>

<style>
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

#app {
  color: #2c3e50;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  text-align: center;
}

#app a {
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 100px
}
</style>
