<template>
	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2015 <a href="index.html"> xmgc </a>. All Rights Reserved.
						<br> 高博应诺 - 苏ICP备14053823号-1</p>
				</div>
			</div>
		</div>
	</footer>
</template>