<template>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
			<a class="navbar-brand" href="index.html">项目工厂</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#" data-nav-section="home"><span>首页</span></a></li>
				<li><a href="#" data-nav-section="about"><span>项目</span></a></li>
				<li><a href="#" data-nav-section="services"><span>视频</span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#" data-nav-section="home"><span>注册</span></a></li>
				<li><a href="#" data-nav-section="about"><span>登录</span></a></li>
			</ul>
		</div>
	</nav>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Hello World!'
    }
  }
}
</script>

<style scoped>
	
</style>